@import "tailwindcss";

@theme {
  --color-primary: #090088;
}

@layer components {
  .input-base {
    @apply border focus:ring-1 focus:ring-blue-500 rounded border-gray-300 px-2 ml-1 text-sm font-semibold py-1 mb-3;
  }
  .input-label {
    @apply font-semibold text-sm;
  }
}

input,
textarea,
select,
option {
  inset: all;
  outline: none;
}
