@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme {
  --color-primary: #090088;
}

@layer components {
  .input-base {
    @apply border focus:ring-1 focus:ring-blue-500 rounded border-gray-300   text-sm font-semibold p-2;
  }
  .input-label {
    @apply font-semibold text-sm;
  }
}

input,
textarea,
select,
option {
  inset: all;
  outline: none;
}
